.offer-banner {
  display: flex;
  justify-content: center;
}
.card-offer-left {
  padding-top: 10px;
  font-size: 40px;
  font-weight: $titleFontWeight;
  background-color: #e81a1a;
  color: #f8eee1;
  height: 310px;
}
.card-offer-right {
  background-color: #f8eee1;
  color: #e81a1a;
  height: 310px;
}
