.contacts-header {
  margin-top: 50px;
  padding: 50px 0px;
  font-size: 40px;
  font-weight: 900;
  background: #e81a1a;
  color: #f8eee1;
}
.contact-us {
  padding-right: 10rem;
  padding-left: 15rem;
}
.call {
  display: flex;
  line-height: 3;
}
.contacts-title {
  font-size: $titleFontSize;
  font-weight: $titleFontWeight;
  text-decoration: underline;
}
