.menu {
  padding-top: 20px;
  height: 12%;
  background: #ffffff;
  font-size: $titleFontSize;
  font-weight: $titleFontWeight;
  justify-content: space-between;
}
.search-group {
  padding-top: 20px;
  width: 270px;
  margin: 10px;
  font-size: 15px;
  background-color: #d3d3d34a;
}
a.nav-link {
  justify-content: space-between;
  color: #000000;
}
a.nav-link:hover {
  color: #000000;
  text-decoration: underline;
}
